@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&family=Source+Sans+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.bodyClass {
    background: linear-gradient(110deg, rgb(139, 213, 255), pink)
}

.inputStyle {
    width: 100%;
    font-size: 1.5em;
    padding: 10px;
    border-radius: 5px;
    border: 0.2px solid;
    padding: 10px;
    font-weight: lighter;
    margin-bottom: 20px;
}

.button {
    padding: 10px;
    color: white;
    background-color: rgb(255, 97, 97);
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    font-size: 1.5em;
    width: 100%;
    text-align: center;
    font-weight: bolder;
    cursor: pointer;


}